@import url(../blocks/__list-divider.css);

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu__title {
  max-width: 780px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin-top: 24px;
  margin-bottom: 100px;
  align-items: center;
  text-align: center;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 540px;
  margin-bottom: 100px;
}

.card__title {
  margin: 0; /* margin-block-start: 1em; override default stylesheet */

  flex-basis: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  width: 100%;
  margin: 32px 0 0; /* margin-block-start (&-end): 1em; override default stylesheet */
  padding-left: 0; /* padding-inline-start: 40px; override default stylesheet */
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  border-bottom: 1px solid #000;
  margin: 0 10px 4px;
}

/* In the event of an expanded menu */
.card:nth-of-type(odd) {
  margin-right: 100px;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card:last-child {
  margin: auto auto 0;
}
