.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu__title {
  max-width: 780px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin-top: 24px;
  margin-bottom: 100px;
  align-items: center;
  text-align: center;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;

  /* Adjusting position of grid elements in final row
     1 Double number of columns in every row
     2 set each item to span 2 (take up 2 column widths)
     3 move final column 1 forward */
}
